body {
    margin: 0;
    background-color: rgb(12, 30, 63);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

header img {
    max-width: 10%;
    float: left;
}

nav ul {
    text-align: right;
    list-style-type: none;
}

nav ul li a {
    display: inline;
    text-decoration: none;
    color: white;
    border: 2px red solid;
    border-radius: 67px;
    padding: 8px;
    background-color: rgb(185, 185, 185);
}

header {
    background-image: url(../images/beach.webp);
    background-repeat: no-repeat;
    padding: 6px;
}


.currentPage {
    background-color: rgb(255, 239, 149);
    color: black;
}

.gallery {
    height: 150px;
    margin: 5px;
}

footer {
    position: fixed;
    background-color: rgb(6, 8, 39);
    text-align: center;
    width: 100%;
    bottom: 0px;
}


footer p {
    padding: 5px;
    margin: 0;
}

h1 {
    color: orange;
}

h2 {
    color: rgb(255, 209, 124);
}

h1,
h2,
iframe,
p {
    padding: 10px;
}

iframe {
    border-radius: 30px;
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    background-color: rgb(211, 211, 211);
    color: black;
    border-top-left-radius: 67px;
    border-bottom-left-radius: 67px;
}